<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Student Developers Society</title>
<meta name="description" content="Student Developers Society is a community aiming to bridge the gap between students and professionals and make the students industry ready">
<meta name="author" content="Student Developers Society">
<meta name="keywords" content="SDS, StuDevSoc, Student Developers Society, SDS Cochin, StuDevSoc Kochi, Student Developers Society Kochi, SDS community, StuDevSoc Team, Student Developers" />
{% load static %}
<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'coc/img/favicon.png' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'coc/img/favicon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'coc/img/favicon.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'coc/img/favicon.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'coc/fonts/font-awesome/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'coc/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'coc/css/events.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Slider
    ================================================== -->
<link href="{% static 'coc/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'coc/css/owl.theme.css' %}" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'coc/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'coc/css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'coc/css/nivo-lightbox/default.css' %}">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top"><img src="{% static 'coc/img/logo.png' %}" class="img-responsive" style= "height: 35px;" alt="Logo"></a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'home' %}" class="page-scroll">Home</a></li>
        <li><a href="{% url 'home' %}#events" class="page-scroll">Events</a></li>
        <li><a href="{% url 'home' %}#portfolio" class="page-scroll">Gallery</a></li>
        <li><a href="https://blog.studevsoc.com" class="page-scroll">Blog</a></li>
        <li><a href="{% url 'home' %}#JoinUs" class="page-scroll">Join Us</a></li>
        <li><a href="{% url 'home' %}#contact" class="page-scroll">Contact</a></li>
        <li><a href="{% url 'coc_list' %}" class="page-scroll">Code of Conduct</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div id="contact" >
<div class="container">
<div class="text-center">
    <h1><a href="/">Student Developers Society Code of Conduct</a></h1>
    <hr>
</div>

{% for coc in cocs %}
    <div>

        <h2 >{{ coc.title }}</h2>
        <p>{{ coc.text|linebreaksbr }}</p>
        <h6>Last Revision : {{ coc.coc_date }}</h6>
    </div>
{% endfor %}
</div>
</div>
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">

      <h2>Join Us</h2>
      <hr>
      <p></p>
    </div>
    <div class="social" id="JoinUs">
      <ul>
        <li><a href="https://www.meetup.com/StuDevSoc/"><i class="fa fa-meetup"></i></a></li>
        <li><a href="https://twitter.com/thisissds"><i class="fa fa-twitter"></i></a></li>
-
        <li><a href="https://www.facebook.com/StuDevSoc"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/company/studevsoc/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://gitlab.com/studevsoc"><i class="fa fa-gitlab"></i></a></li>
        <li><a href="https://t.me/studevsoc"><i class="fa fa-telegram"></i></a></li>
        <li><a href="https://www.instagram.com/studevsoc/"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>

    </div>
  </div>
</div>

<div id="footer">
  <div class="container text-center">
    <p>  FAQ | <a href="../coc/">Code of Conduct</a> |Report a harassment
    <p>Copyright &copy; 2019 Web Designed by <a href="https://gitlab.com/Ajuajmal/sds-dynamic/activity" rel="nofollow">StudDevSoc</a></p>
  </div>
</div>

<script type="text/javascript" src="{% static 'coc/js/jquery.1.11.1.js' %}"></script>
<script type="text/javascript" src="{% static 'coc/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'coc/js/SmoothScroll.js' %}"></script>
<script type="text/javascript" src="{% static 'coc/js/jquery.counterup.js' %}"></script>
<script type="text/javascript" src="{% static 'coc/js/waypoints.js' %}"></script>
<script type="text/javascript" src="{% static 'coc/js/nivo-lightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'coc/js/jquery.isotope.js' %}"></script>
<script type="text/javascript" src="{% static 'coc/js/jqBootstrapValidation.js' %}"></script>
<script type="text/javascript" src="{% static 'coc/js/contact_me.js' %}"></script>
<script type="text/javascript" src="{% static 'coc/js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'coc/js/main.js' %}"></script>
</html>
